.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.menu > li {
    padding: 0 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.item.active a {
    color: #f00;
}